<div>
  <div class="relative w-full h-screen bg-black z-50">
    <bot-3d #canvas name="raijin" class="block w-full h-full" (loadingEnd)="loadingCanvas.set(false)"></bot-3d>

    @if (loadingCanvas()) {
      <div [@fadeInOut] class="absolute bg-black text-white top-0 flex flex-col justify-center items-center h-full w-full">
        <img class="max-h-96" src="images/raijin/logo.png" alt="Raijin Logo" />
        <span>Carregando... Arraste-me!</span>
      </div>
    } @else {
      <div class="absolute bottom-2 md:top-2 left-5">
        <button type="button" mat-icon-button class="text-white" (click)="resetView()">
          <mat-icon fontSet="material-symbols-outlined">reset_iso</mat-icon>
        </button>
      </div>

      <div
        [@fadeInOut]
        class="absolute flex flex-col gap-4 top-5 bg-[#000000AA] rounded-lg text-white mx-4 px-4 md:mx-[unset] md:max-w-[40%] md:right-4"
      >
        <div class="flex flex-row items-center md:justify-end">
          <img src="images/raijin/logo.png" alt="Rajin Logo" class="w-[100px] mr-2" />
          <span class="text-6xl">Raijin</span>
        </div>
        <div class="md:text-right">
          <p>
            Raijin (雷神) é o deus japonês das tempestades e foi o nome escolhido para o robô seguidor de linha da equipe. Nesta página encontrará um
            relatório técnico do projeto, mostrando todos seus componentes mecânicos e de hardware, além de detalhamento sobre a implementação do
            firmware.
          </p>
          <p>Clique na seta para continuar.</p>
        </div>
        <div class="text-center">
          <button type="button" mat-icon-button class="text-white" (click)="goToTop()">
            <mat-icon fontSet="material-icons-outlined" class="scale-[2]">keyboard_arrow_down</mat-icon>
          </button>
        </div>
      </div>
    }
  </div>

  <mat-toolbar class="!h-[56px] sticky top-0 z-20">
    <!-- <side-nav-toggler /> Home Page? -->
    <span class="ml-2">Raijin</span>
    <span class="flex-auto"></span>
    <language-switcher></language-switcher>
  </mat-toolbar>

  <div class="text-white grid grid-cols-1 md:grid-cols-[1fr_15em] w-[90%] lg:w-[70%] mx-auto pt-[56px]">
    @if (currentLanguage() === "en") {
      <div class="h-[calc(100vh-56px)]">
        This content is not yet available in english, please swap languages in top right corner to read it in portuguese
      </div>
    } @else {
      <div class="lg:p-12">
        <article-sections [sections]="sectionsBeforeSchematic.flat()" base="raijin" [observer]="observer" />
        <ng2-pdfjs-viewer
          class="block h-[600px] mt-5"
          pdfSrc="/documents/Raijin_V1.pdf"
          viewerId="inline"
          viewerFolder="pdfjs"
          [print]="false"
          [find]="false"
        ></ng2-pdfjs-viewer>
        <article-sections [sections]="sectionsAfterSchematic.flat()" base="raijin" [observer]="observer" />
      </div>
      <article-nav
        #navigation
        class="row-start-1 md:sticky md:top-[70px] md:self-start md:row-start-[unset]"
        [sections]="sectionsBeforeSchematic.concat(sectionsAfterSchematic)"
      ></article-nav>
    }
  </div>
</div>
