<div class="h-screen flex flex-col">
  <ng-container *transloco="let t; prefix: 'tools'">
    <mat-toolbar class="!h-[50px]">
      <side-nav-toggler />
      <span class="ml-2">{{ t("title") }}</span>
      <span class="flex-auto"></span>
      <button mat-icon-button title="Log" (click)="resetZoom()">
        <mat-icon>zoom</mat-icon>
      </button>
      <serial-connect-button />
      <language-switcher />
    </mat-toolbar>
    <div class="flex-grow bg-black grid grid-cols-[50px_1fr] grid-rows-1 gap-2 h-[calc(100vh-50px)]">
      <div class="flex flex-col h-full pt-2 items-center bg-gray-800">
        <button mat-icon-button title="Log" (click)="readLog()">
          <mat-icon>show_chart</mat-icon>
        </button>
      </div>
      <div class="overflow-auto h-full">
        <div class="grid grid-cols-2 grid-rows-6 gap-5 p-2 h-[200%]">
          <div class="h-full w-full bg-gray-900 p-2"><canvas baseChart type="line" [data]="chart1_data()" [options]="options()"></canvas></div>
          <div class="h-full w-full bg-gray-900 p-2"><canvas baseChart type="line" [data]="chart2_data()" [options]="options()"></canvas></div>
          <div class="h-full w-full col-span-2 row-span-2 bg-gray-900 p-2">
            <canvas baseChart type="scatter" [datasets]="track_data()" [options]="track_options()"></canvas>
          </div>
          <div class="h-full w-full col-span-2 bg-gray-900 p-2">
            <canvas baseChart type="line" [data]="chart3_data()" [options]="options()"></canvas>
          </div>
          <div class="h-full w-full col-span-2 bg-gray-900 p-2">
            <canvas baseChart type="line" [data]="chart4_data()" [options]="options()"></canvas>
          </div>
          <div class="h-full w-full col-span-2 bg-gray-900 p-2">
            <canvas baseChart type="line" [data]="chart5_data()" [options]="options()"></canvas>
          </div>
        </div>
      </div>
      <!-- <div>asas2</div> -->
    </div>
  </ng-container>
</div>
