<div class="h-full flex flex-col">
  <ng-container *transloco="let t; prefix: 'track'">
    <mat-toolbar>
      <side-nav-toggler />
      <span class="ml-2">{{ t("title") }}</span>
      <span class="flex-auto"></span>
      <button type="button" mat-button (click)="importPoints(false)">
        <mat-icon>file_open</mat-icon>
        {{ t("import_points") }}
      </button>
      <button type="button" mat-button (click)="importPoints(true)">
        <mat-icon>file_open</mat-icon>
        {{ t("import_markers") }}
      </button>
      <serial-connect-button />
      <button type="button" mat-icon-button [disabled]="serialService.selectedPort() === null" (click)="serialService.request_map()">
        <mat-icon>download</mat-icon>
      </button>
      <language-switcher />
    </mat-toolbar>
    <div class="flex-grow bg-black">
      @if (hasPoints()) {
        <track-editor />
      }
    </div>
  </ng-container>
</div>
